.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
  overflow: hidden;
}

.blob {
  position: absolute;
  border-radius: 50%;
  filter: var(--blur-glow);
  opacity: 0.5;
}

.blobBlue {
  width: 700px;
  height: 700px;
  background-color: var(--color-accent-blue);
  top: -200px;
  left: -150px;
}

.blobPurple {
  width: 600px;
  height: 600px;
  background-color: var(--color-accent-purple);
  bottom: -150px;
  right: -100px;
}